/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: Segoe UI;
  font-size: 12pt;
  background: #000;
  color: White;
  margin: 0;
  overflow-y: scroll; }

div.page {
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

.rightside {
  float: right; }

h1 {
  font-size: 40pt;
  font-weight: normal;
  margin: 0;
  margin-bottom: -30px; }

h2 {
  font-size: 30pt;
  font-weight: normal;
  margin: 0; }

h3 {
  font-size: 25pt;
  font-weight: normal;
  margin: 0; }

h4 {
  font-size: 20pt;
  font-weight: normal;
  margin: 0; }

body[theme=light] {
  background: white;
  color: #000; }

.theme-bg {
  background: #000; }

body[theme=light] .theme-bg {
  background: #fff; }

.metro-pivot {
  .headers {
    white-space: nowrap;
    height: 60px;
    display: block;
    clear: both; }
  .pivot-item h3 {
    font-size: 250%;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    cursor: pointer;
    margin: 0 5px; }
  .headers .header {
    font-size: 250%;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    cursor: pointer;
    margin: 0 5px;
    &.current {} }
  .items {
    position: relative;
    .pivotItem {
      display: block;
      white-space: normal;
      text-align: justify;
      width: 100%;
      .pivot-item {
        padding: 10px; } } } }

ul.metro-list {
  padding: 0;
  li {
    display: block;
    margin: 10px 0;
    height: 20px;
    padding: 5px;
    overflow: hidden;
    border-left: solid 30px;
    list-style: none; } }

a.metro-button {
  display: inline-block;
  padding: 2px 10px;
  border: solid 2px white;
  color: white;
  text-decoration: none;
  margin: 10px 0; }

.start-menu-item {
  float: left;
  height: 120px;
  width: 120px;
  position: relative;
  color: White;
  margin: 5px;
  overflow: hidden;
  label {
    position: absolute;
    margin: 5px;
    bottom: 0;
    left: 0;
    white-space: nowrap; } }

.side-menu-item {
  height: 20px;
  padding: 5px 15px;
  border-left: solid 30px;
  margin: 10px 0; }

ul.metro-conversation {
  padding: 0 30px;
  li {
    margin: 10px 0;
    display: block;
    padding: 10px;
    line-height: 110%;
    margin-right: 20%;
    position: relative;
    &.alt {
      margin-right: 0;
      margin-left: 20%; }
    .list-diam {
      position: absolute;
      top: -15px;
      left: 20px;
      font-size: 40pt;
      font-family: Arial; }
    &.alt .list-diam {
      left: auto;
      right: 20px;
      top: auto;
      bottom: -10px; } } }

div.html {
  background: white;
  padding: 10px;
  margin-left: 30px;
  border: dotted 2px #aaa; }

ul.metro-conversation .question {
  color: #444;
  border-bottom: dashed 1px #444;
  margin-bottom: 5px;
  padding-bottom: 10px; }

body[accent=orange] {
  .accent-color, ul.metro-conversation .list-diam, a {
    color: #F09720; }
  .side-menu-item, ul.metro-list li {
    border-color: #F09720; }
  .accent-bg {
    background: #F09720; } }

.top-banner .accent-box[accent=orange] {
  background: #F09720; }

body {
  &[accent=orange] {
    ul.metro-conversation li, .start-menu-item {
      background: #F09720; } }
  &[accent=red] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #E61E26; }
    .side-menu-item, ul.metro-list li {
      border-color: #E61E26; }
    .accent-bg {
      background: #E61E26; } } }

.top-banner .accent-box[accent=red] {
  background: #E61E26; }

body {
  &[accent=red] {
    ul.metro-conversation li, .start-menu-item {
      background: #E61E26; } }
  &[accent=green] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #309B46; }
    .side-menu-item, ul.metro-list li {
      border-color: #309B46; }
    .accent-bg {
      background: #309B46; } } }

.top-banner .accent-box[accent=green] {
  background: #309B46; }

body {
  &[accent=green] {
    ul.metro-conversation li, .start-menu-item {
      background: #309B46; } }
  &[accent=blue] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #24A0DA; }
    .side-menu-item, ul.metro-list li {
      border-color: #24A0DA; }
    .accent-bg {
      background: #24A0DA; } } }

.top-banner .accent-box[accent=blue] {
  background: #24A0DA; }

body {
  &[accent=blue] {
    ul.metro-conversation li, .start-menu-item {
      background: #24A0DA; } }
  &[accent=brown] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #986829; }
    .side-menu-item, ul.metro-list li {
      border-color: #986829; }
    .accent-bg {
      background: #986829; } } }

.top-banner .accent-box[accent=brown] {
  background: #986829; }

body {
  &[accent=brown] {
    ul.metro-conversation li, .start-menu-item {
      background: #986829; } }
  &[accent=magenta] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #EB1691; }
    .side-menu-item, ul.metro-list li {
      border-color: #EB1691; }
    .accent-bg {
      background: #EB1691; } } }

.top-banner .accent-box[accent=magenta] {
  background: #EB1691; }

body {
  &[accent=magenta] {
    ul.metro-conversation li, .start-menu-item {
      background: #EB1691; } }
  &[accent=purple] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #7D50A0; }
    .side-menu-item, ul.metro-list li {
      border-color: #7D50A0; }
    .accent-bg {
      background: #7D50A0; } } }

.top-banner .accent-box[accent=purple] {
  background: #7D50A0; }

body {
  &[accent=purple] {
    ul.metro-conversation li, .start-menu-item {
      background: #7D50A0; } }
  &[accent=teal] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #16ABA9; }
    .side-menu-item, ul.metro-list li {
      border-color: #16ABA9; }
    .accent-bg {
      background: #16ABA9; } } }

.top-banner .accent-box[accent=teal] {
  background: #16ABA9; }

body {
  &[accent=teal] {
    ul.metro-conversation li, .start-menu-item {
      background: #16ABA9; } }
  &[accent=lime] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #8BC140; }
    .side-menu-item, ul.metro-list li {
      border-color: #8BC140; }
    .accent-bg {
      background: #8BC140; } } }

.top-banner .accent-box[accent=lime] {
  background: #8BC140; }

body {
  &[accent=lime] {
    ul.metro-conversation li, .start-menu-item {
      background: #8BC140; } }
  &[accent=pink] {
    .accent-color, ul.metro-conversation .list-diam, a {
      color: #DD72AC; }
    .side-menu-item, ul.metro-list li {
      border-color: #DD72AC; }
    .accent-bg {
      background: #DD72AC; } } }

.top-banner .accent-box[accent=pink] {
  background: #DD72AC; }

body[accent=pink] {
  ul.metro-conversation li, .start-menu-item {
    background: #DD72AC; } }

.wp-popup {
  display: none;
  margin: 20px; }

.wp-popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none; }

a.wp-colored-button {
  display: inline-block;
  padding: 0 15px;
  border: solid 4px;
  color: inherit !important; }

.top-banner {
  text-align: right;
  border-bottom: dotted 1px #777;
  margin-bottom: 10px;
  font-size: 10pt;
  .theme-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px;
    border: solid 1px #777;
    cursor: pointer;
    vertical-align: middle; }
  .accent-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px;
    border: solid 1px #777;
    cursor: pointer;
    vertical-align: middle;
    background: #F09720; }
  .theme-box {
    &[theme=dark] {
      background: black; }
    &[theme=light] {
      background: white; } } }

pre.jush {
  font-size: 9pt;
  background: #F0F0FF;
  border: dashed 1px #aaa;
  padding: 10px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline; } } }

