header,
footer,
nav,
section {
	display: block;
}
html body {
  position:static;
  overflow:auto; }
  
body {
  font-size: 13px;
  font-family: Segoe WP, Segoe UI, Verdana, Helvetica, Sans-Serif;
  background: #000;
  color: White;
  margin: 0;
  overflow-y: scroll;}

div.page {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1000px;
	margin: auto;
	overflow: hidden; }

.rightside {
  float: right; }

h1 {
  font-size: 40pt;
  font-weight: normal;
  margin: 0;
/*   margin-bottom: -30px; */ }

/*
h2 {
  font-size: 30pt;
  font-weight: normal;
  margin: 0; }

h3 {
  font-size: 25pt;
  font-weight: normal;
  margin: 0; }

h4 {
  font-size: 20pt;
  font-weight: normal;
  margin: 0; }
*/
  
h2 
{
	padding-bottom:10px;
	font-size:20px;
	font-weight:normal;
}

h3 {
	font-size: 2.25em;
	clear:both;
	margin:10px 0px 0px;
}

h4 {
	font-size: 1.8em;
	margin:6px 0px 0px;
}

h5, h6 {
	font-size: 1.5em;
	margin:4px 0px 0px;
}

body[theme=light] {
  background: white;
  color: #000; }

.theme-bg {
  background: #000; }

body[theme=light] .theme-bg {
  background: #fff; }

.metro-pivot {
  .headers {
    white-space: nowrap;
    height: 60px;
    display: block;
    clear: both; }
  .pivot-item h3 {
    font-size: 250%;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    cursor: pointer;
    margin: 0 5px; }
  .headers .header {
    font-size: 250%;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    cursor: pointer;
    margin: 0 5px;
    &.current {} }
  .items {
    position: relative;
    .pivotItem {
      display: block;
      white-space: normal;
      text-align: justify;
      width: 100%;
      .pivot-item {
        padding: 10px; } } } }

ul.metro-list {
  padding: 0;
  li {
    display: block;
    margin: 10px 0;
    height: 20px;
    padding: 5px;
    overflow: hidden;
    border-left: solid 30px;
    list-style: none; } }

a.metro-button {
  display: inline-block;
  padding: 2px 10px;
  border: solid 2px white;
  color: white;
  text-decoration: none;
  margin: 10px 0; }

.start-menu-item {
  float: left;
  height: 120px;
  width: 120px;
  position: relative;
  color: White;
  margin: 5px;
  overflow: hidden;
  label {
    position: absolute;
    margin: 5px;
    bottom: 0;
    left: 0;
    white-space: nowrap; } }

.side-menu-item {
  height: 20px;
  padding: 5px 15px;
  border-left: solid 30px;
  margin: 10px 0; }

ul.metro-conversation {
  padding: 0 30px;
  li {
    margin: 10px 0;
    display: block;
    padding: 10px;
    line-height: 110%;
    margin-right: 20%;
    position: relative;
    &.alt {
      margin-right: 0;
      margin-left: 20%; }
    .list-diam {
      position: absolute;
      top: -15px;
      left: 20px;
      font-size: 40pt;
      font-family: Arial; }
    &.alt .list-diam {
      left: auto;
      right: 20px;
      top: auto;
      bottom: -10px; } } }

div.html {
  background: white;
  padding: 10px;
  margin-left: 30px;
  border: dotted 2px #aaa; }

ul.metro-conversation .question {
  color: #444;
  border-bottom: dashed 1px #444;
  margin-bottom: 5px;
  padding-bottom: 10px; }

.wp-popup {
  display: none;
  margin: 20px; }

.wp-popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none; }

a.wp-colored-button {
  display: inline-block;
  padding: 0 15px;
  border: solid 4px;
  color: inherit !important; }

.top-banner {
  text-align: right;
  border-bottom: dotted 1px #777;
  margin-bottom: 10px;
  font-size: 10pt;
  .theme-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px;
    border: solid 1px #777;
    cursor: pointer;
    vertical-align: middle; }
  .accent-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px;
    border: solid 1px #777;
    cursor: pointer;
    vertical-align: middle;
    background: #F09720; }
  .theme-box {
    &[theme=dark] {
      background: black; }
    &[theme=light] {
      background: white; } } }

pre.jush {
  font-size: 9pt;
  background: #F0F0FF;
  border: dashed 1px #aaa;
  padding: 10px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline; } } }
      
//Live Tiles
#tiles>h2 { padding: 0 0 10px 10px; }


