/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body {
  font-family: Segoe UI;
  font-size: 12pt;
  background: #000;
  color: White;
  margin: 0;
  overflow-y: scroll;
}

/* line 9, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
div.page {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* line 14, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.rightside {
  float: right;
}

/* line 17, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
h1 {
  font-size: 40pt;
  font-weight: normal;
  margin: 0;
  /*   margin-bottom: -30px; */
}

/* line 23, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
h2 {
  font-size: 30pt;
  font-weight: normal;
  margin: 0;
}

/* line 28, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
h3 {
  font-size: 25pt;
  font-weight: normal;
  margin: 0;
}

/* line 33, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
h4 {
  font-size: 20pt;
  font-weight: normal;
  margin: 0;
}

/* line 38, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[theme=light] {
  background: white;
  color: #000;
}

/* line 42, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.theme-bg {
  background: #000;
}

/* line 45, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[theme=light] .theme-bg {
  background: #fff;
}

/* line 49, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.metro-pivot .headers {
  white-space: nowrap;
  height: 60px;
  display: block;
  clear: both;
}
/* line 54, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.metro-pivot .pivot-item h3 {
  font-size: 250%;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;
}
/* line 62, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.metro-pivot .headers .header {
  font-size: 250%;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;
}
/* line 71, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.metro-pivot .items {
  position: relative;
}
/* line 73, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.metro-pivot .items .pivotItem {
  display: block;
  white-space: normal;
  text-align: justify;
  width: 100%;
}
/* line 78, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.metro-pivot .items .pivotItem .pivot-item {
  padding: 10px;
}

/* line 81, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-list {
  padding: 0;
}
/* line 83, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-list li {
  display: block;
  margin: 10px 0;
  height: 20px;
  padding: 5px;
  overflow: hidden;
  border-left: solid 30px;
  list-style: none;
}

/* line 92, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
a.metro-button {
  display: inline-block;
  padding: 2px 10px;
  border: solid 2px white;
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

/* line 100, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.start-menu-item {
  float: left;
  height: 120px;
  width: 120px;
  position: relative;
  color: White;
  margin: 5px;
  overflow: hidden;
}
/* line 108, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.start-menu-item label {
  position: absolute;
  margin: 5px;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

/* line 115, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.side-menu-item {
  height: 20px;
  padding: 5px 15px;
  border-left: solid 30px;
  margin: 10px 0;
}

/* line 121, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-conversation {
  padding: 0 30px;
}
/* line 123, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-conversation li {
  margin: 10px 0;
  display: block;
  padding: 10px;
  line-height: 110%;
  margin-right: 20%;
  position: relative;
}
/* line 130, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-conversation li.alt {
  margin-right: 0;
  margin-left: 20%;
}
/* line 133, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-conversation li .list-diam {
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 40pt;
  font-family: Arial;
}
/* line 139, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-conversation li.alt .list-diam {
  left: auto;
  right: 20px;
  top: auto;
  bottom: -10px;
}

/* line 145, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
div.html {
  background: white;
  padding: 10px;
  margin-left: 30px;
  border: dotted 2px #aaa;
}

/* line 151, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
ul.metro-conversation .question {
  color: #444;
  border-bottom: dashed 1px #444;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

/* line 158, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=orange] .accent-color, body[accent=orange] ul.metro-conversation .list-diam, body[accent=orange] a {
  color: #F09720;
}
/* line 160, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=orange] .side-menu-item, body[accent=orange] ul.metro-list li {
  border-color: #F09720;
}
/* line 162, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=orange] .accent-bg {
  background: #F09720;
}

/* line 165, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=orange] {
  background: #F09720;
}

/* line 170, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=orange] ul.metro-conversation li, body[accent=orange] .start-menu-item {
  background: #F09720;
}
/* line 173, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=red] .accent-color, body[accent=red] ul.metro-conversation .list-diam, body[accent=red] a {
  color: #E61E26;
}
/* line 175, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=red] .side-menu-item, body[accent=red] ul.metro-list li {
  border-color: #E61E26;
}
/* line 177, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=red] .accent-bg {
  background: #E61E26;
}

/* line 180, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=red] {
  background: #E61E26;
}

/* line 185, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=red] ul.metro-conversation li, body[accent=red] .start-menu-item {
  background: #E61E26;
}
/* line 188, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=green] .accent-color, body[accent=green] ul.metro-conversation .list-diam, body[accent=green] a {
  color: #309B46;
}
/* line 190, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=green] .side-menu-item, body[accent=green] ul.metro-list li {
  border-color: #309B46;
}
/* line 192, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=green] .accent-bg {
  background: #309B46;
}

/* line 195, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=green] {
  background: #309B46;
}

/* line 200, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=green] ul.metro-conversation li, body[accent=green] .start-menu-item {
  background: #309B46;
}
/* line 203, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=blue] .accent-color, body[accent=blue] ul.metro-conversation .list-diam, body[accent=blue] a {
  color: #24A0DA;
}
/* line 205, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=blue] .side-menu-item, body[accent=blue] ul.metro-list li {
  border-color: #24A0DA;
}
/* line 207, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=blue] .accent-bg {
  background: #24A0DA;
}

/* line 210, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=blue] {
  background: #24A0DA;
}

/* line 215, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=blue] ul.metro-conversation li, body[accent=blue] .start-menu-item {
  background: #24A0DA;
}
/* line 218, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=brown] .accent-color, body[accent=brown] ul.metro-conversation .list-diam, body[accent=brown] a {
  color: #986829;
}
/* line 220, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=brown] .side-menu-item, body[accent=brown] ul.metro-list li {
  border-color: #986829;
}
/* line 222, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=brown] .accent-bg {
  background: #986829;
}

/* line 225, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=brown] {
  background: #986829;
}

/* line 230, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=brown] ul.metro-conversation li, body[accent=brown] .start-menu-item {
  background: #986829;
}
/* line 233, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=magenta] .accent-color, body[accent=magenta] ul.metro-conversation .list-diam, body[accent=magenta] a {
  color: #EB1691;
}
/* line 235, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=magenta] .side-menu-item, body[accent=magenta] ul.metro-list li {
  border-color: #EB1691;
}
/* line 237, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=magenta] .accent-bg {
  background: #EB1691;
}

/* line 240, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=magenta] {
  background: #EB1691;
}

/* line 245, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=magenta] ul.metro-conversation li, body[accent=magenta] .start-menu-item {
  background: #EB1691;
}
/* line 248, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=purple] .accent-color, body[accent=purple] ul.metro-conversation .list-diam, body[accent=purple] a {
  color: #7D50A0;
}
/* line 250, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=purple] .side-menu-item, body[accent=purple] ul.metro-list li {
  border-color: #7D50A0;
}
/* line 252, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=purple] .accent-bg {
  background: #7D50A0;
}

/* line 255, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=purple] {
  background: #7D50A0;
}

/* line 260, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=purple] ul.metro-conversation li, body[accent=purple] .start-menu-item {
  background: #7D50A0;
}
/* line 263, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=teal] .accent-color, body[accent=teal] ul.metro-conversation .list-diam, body[accent=teal] a {
  color: #16ABA9;
}
/* line 265, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=teal] .side-menu-item, body[accent=teal] ul.metro-list li {
  border-color: #16ABA9;
}
/* line 267, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=teal] .accent-bg {
  background: #16ABA9;
}

/* line 270, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=teal] {
  background: #16ABA9;
}

/* line 275, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=teal] ul.metro-conversation li, body[accent=teal] .start-menu-item {
  background: #16ABA9;
}
/* line 278, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=lime] .accent-color, body[accent=lime] ul.metro-conversation .list-diam, body[accent=lime] a {
  color: #8BC140;
}
/* line 280, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=lime] .side-menu-item, body[accent=lime] ul.metro-list li {
  border-color: #8BC140;
}
/* line 282, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=lime] .accent-bg {
  background: #8BC140;
}

/* line 285, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=lime] {
  background: #8BC140;
}

/* line 290, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=lime] ul.metro-conversation li, body[accent=lime] .start-menu-item {
  background: #8BC140;
}
/* line 293, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=pink] .accent-color, body[accent=pink] ul.metro-conversation .list-diam, body[accent=pink] a {
  color: #DD72AC;
}
/* line 295, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=pink] .side-menu-item, body[accent=pink] ul.metro-list li {
  border-color: #DD72AC;
}
/* line 297, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=pink] .accent-bg {
  background: #DD72AC;
}

/* line 300, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box[accent=pink] {
  background: #DD72AC;
}

/* line 304, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
body[accent=pink] ul.metro-conversation li, body[accent=pink] .start-menu-item {
  background: #DD72AC;
}

/* line 307, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.wp-popup {
  display: none;
  margin: 20px;
}

/* line 311, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.wp-popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

/* line 318, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
a.wp-colored-button {
  display: inline-block;
  padding: 0 15px;
  border: solid 4px;
  color: inherit !important;
}

/* line 324, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner {
  text-align: right;
  border-bottom: dotted 1px #777;
  margin-bottom: 10px;
  font-size: 10pt;
}
/* line 329, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .theme-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: solid 1px #777;
  cursor: pointer;
  vertical-align: middle;
}
/* line 337, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .accent-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: solid 1px #777;
  cursor: pointer;
  vertical-align: middle;
  background: #F09720;
}
/* line 347, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .theme-box[theme=dark] {
  background: black;
}
/* line 349, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
.top-banner .theme-box[theme=light] {
  background: white;
}

/* line 352, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
pre.jush {
  font-size: 9pt;
  background: #F0F0FF;
  border: dashed 1px #aaa;
  padding: 10px;
}
/* line 357, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
pre.jush a {
  text-decoration: none;
}
/* line 359, /Users/adamrobbie/Documents/work/metrocss/sass/base/_body.scss */
pre.jush a:hover {
  text-decoration: underline;
}

/* line 3, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=orange] .accent-color, body[accent=orange] ul.metro-conversation .list-diam, body[accent=orange] a {
  color: #F09720;
}
/* line 5, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=orange] .side-menu-item, body[accent=orange] ul.metro-list li {
  border-color: #F09720;
}
/* line 7, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=orange] .accent-bg {
  background: #F09720;
}

/* line 10, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=orange] {
  background: #F09720;
}

/* line 15, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=orange] ul.metro-conversation li, body[accent=orange] .start-menu-item {
  background: #F09720;
}
/* line 18, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=red] .accent-color, body[accent=red] ul.metro-conversation .list-diam, body[accent=red] a {
  color: #E61E26;
}
/* line 20, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=red] .side-menu-item, body[accent=red] ul.metro-list li {
  border-color: #E61E26;
}
/* line 22, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=red] .accent-bg {
  background: #E61E26;
}

/* line 25, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=red] {
  background: #E61E26;
}

/* line 30, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=red] ul.metro-conversation li, body[accent=red] .start-menu-item {
  background: #E61E26;
}
/* line 33, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=green] .accent-color, body[accent=green] ul.metro-conversation .list-diam, body[accent=green] a {
  color: #309B46;
}
/* line 35, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=green] .side-menu-item, body[accent=green] ul.metro-list li {
  border-color: #309B46;
}
/* line 37, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=green] .accent-bg {
  background: #309B46;
}

/* line 40, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=green] {
  background: #309B46;
}

/* line 45, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=green] ul.metro-conversation li, body[accent=green] .start-menu-item {
  background: #309B46;
}
/* line 48, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=blue] .accent-color, body[accent=blue] ul.metro-conversation .list-diam, body[accent=blue] a {
  color: #24A0DA;
}
/* line 50, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=blue] .side-menu-item, body[accent=blue] ul.metro-list li {
  border-color: #24A0DA;
}
/* line 52, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=blue] .accent-bg {
  background: #24A0DA;
}

/* line 55, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=blue] {
  background: #24A0DA;
}

/* line 60, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=blue] ul.metro-conversation li, body[accent=blue] .start-menu-item {
  background: #24A0DA;
}
/* line 63, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=brown] .accent-color, body[accent=brown] ul.metro-conversation .list-diam, body[accent=brown] a {
  color: #986829;
}
/* line 65, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=brown] .side-menu-item, body[accent=brown] ul.metro-list li {
  border-color: #986829;
}
/* line 67, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=brown] .accent-bg {
  background: #986829;
}

/* line 70, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=brown] {
  background: #986829;
}

/* line 75, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=brown] ul.metro-conversation li, body[accent=brown] .start-menu-item {
  background: #986829;
}
/* line 78, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=magenta] .accent-color, body[accent=magenta] ul.metro-conversation .list-diam, body[accent=magenta] a {
  color: #EB1691;
}
/* line 80, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=magenta] .side-menu-item, body[accent=magenta] ul.metro-list li {
  border-color: #EB1691;
}
/* line 82, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=magenta] .accent-bg {
  background: #EB1691;
}

/* line 85, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=magenta] {
  background: #EB1691;
}

/* line 90, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=magenta] ul.metro-conversation li, body[accent=magenta] .start-menu-item {
  background: #EB1691;
}
/* line 93, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=purple] .accent-color, body[accent=purple] ul.metro-conversation .list-diam, body[accent=purple] a {
  color: #7D50A0;
}
/* line 95, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=purple] .side-menu-item, body[accent=purple] ul.metro-list li {
  border-color: #7D50A0;
}
/* line 97, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=purple] .accent-bg {
  background: #7D50A0;
}

/* line 100, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=purple] {
  background: #7D50A0;
}

/* line 105, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=purple] ul.metro-conversation li, body[accent=purple] .start-menu-item {
  background: #7D50A0;
}
/* line 108, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=teal] .accent-color, body[accent=teal] ul.metro-conversation .list-diam, body[accent=teal] a {
  color: #16ABA9;
}
/* line 110, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=teal] .side-menu-item, body[accent=teal] ul.metro-list li {
  border-color: #16ABA9;
}
/* line 112, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=teal] .accent-bg {
  background: #16ABA9;
}

/* line 115, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=teal] {
  background: #16ABA9;
}

/* line 120, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=teal] ul.metro-conversation li, body[accent=teal] .start-menu-item {
  background: #16ABA9;
}
/* line 123, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=lime] .accent-color, body[accent=lime] ul.metro-conversation .list-diam, body[accent=lime] a {
  color: #8BC140;
}
/* line 125, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=lime] .side-menu-item, body[accent=lime] ul.metro-list li {
  border-color: #8BC140;
}
/* line 127, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=lime] .accent-bg {
  background: #8BC140;
}

/* line 130, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=lime] {
  background: #8BC140;
}

/* line 135, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=lime] ul.metro-conversation li, body[accent=lime] .start-menu-item {
  background: #8BC140;
}
/* line 138, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=pink] .accent-color, body[accent=pink] ul.metro-conversation .list-diam, body[accent=pink] a {
  color: #DD72AC;
}
/* line 140, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=pink] .side-menu-item, body[accent=pink] ul.metro-list li {
  border-color: #DD72AC;
}
/* line 142, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=pink] .accent-bg {
  background: #DD72AC;
}

/* line 145, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
.top-banner .accent-box[accent=pink] {
  background: #DD72AC;
}

/* line 149, /Users/adamrobbie/Documents/work/metrocss/sass/base/_theme.scss */
body[accent=pink] ul.metro-conversation li, body[accent=pink] .start-menu-item {
  background: #DD72AC;
}

/* line 6, /Users/adamrobbie/Documents/work/metrocss/sass/base/_layout.scss */
.container {
  *position: relative;
  *zoom: 1;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 9, /Users/adamrobbie/Documents/work/metrocss/sass/base/_layout.scss */
header {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 12, /Users/adamrobbie/Documents/work/metrocss/sass/base/_layout.scss */
.page {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/*
.aside1 {
	@include zen-grid-item(4,9);
}
*/
/* line 21, /Users/adamrobbie/Documents/work/metrocss/sass/base/_layout.scss */
.footer {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
